<configuration>
    <system.web>
        <customErrors mode="Off"/>
        <authentication mode="Forms">
            <forms name="AuthCookie" 
                path="/" 
                loginUrl="login.aspx" 
                protection="All" 
                timeout="30">
                <credentials passwordFormat="Clear">
                    <user name="oreo" password="oreo1234" />
                </credentials>
            </forms>
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>
